<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"
      type="text/css"
    />

  </head>
  <body>
    {{{body}}}
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"
  ></script>
  <script type="module" src="/static/js/product.js"></script>
</html>