<div class="container">
  <h1 class="title">Login de Usuario</h1>
  <form method="post" action="/register">
    <div class="row">
      <label class="m-5" for="name">Ingrese su nombre </label>
      <input id="name" class="m-5" name="name" />
    </div>
    <div class="row">
      <button id="btn-login" class="btn-submit">Enviar</button>
    </div>
  </form>
</div>