<div class="container">
  <h1 class="title">Registro de Usuario</h1>
  <form method="post" action="/register">
    <div class="row">
      <input
        id="email"
        class="m-5"
        name="email"
        placeholder="Ingrese su usuario"
      />
    </div>
    <div class="row">
      <input
        id="pwd"
        class="m-5"
        name="pwd"
        type="password"
        placeholder="Ingrese su contraseña"
      />
    </div>
    <div class="row">
      <button id="btn-register" class="btn-submit">Register</button>
    </div>
    <hr />
    <div class="row">
      <a href="/login" class="btn-submit">Ir a Login</a>
    </div>
  </form>
</div>